.App-header {
  text-align: center;
  font-size: 40px;
  color: #eedbc0;
  font-weight: 600;
}

.App {
  max-width: 940px;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
  color: #4b3e33;
}
.App-footer a {
  color: #e9d8be;
  text-decoration: none;
  font-weight: 500;
}

body {
  background: #b99d85;
}
