.Meaning h3 {
  font-size: 25px;
  line-height: 1;
  font-weight: bold;
  font-style: italic;
}

.Meaning .example {
  font-style: italic;
  color: #796452d7;
  margin: 5px 0 5px;
  line-height: 1.2;
}
