.Meaning h3 {
  font-size: 25px;
  line-height: 1;
  font-weight: bold;
  font-style: italic;
}

.Meaning .example {
  font-style: italic;
  color: #8f6438e5;
  margin: 5px 0 5px;
  line-height: 1.2;
}

.Meaning .example::first-letter {
  text-transform: capitalize;
}

.Meaning .definition {
  font-weight: 500;
}
